@use "../styles/theme.scss";

:local(.room-entry-modal) {
  max-width: 566px;
}

:local(.content) {
  padding: 24px 8px;

  button {
    width: 156px;
  }

  @media(min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
    padding: 24px;
  }
}

:local(.logo-container) {
  padding: 0 16px;
  margin-top: 16px;
  margin-bottom: 32px;
  max-width: 250px;
}

:local(.room-name) {
  display: flex;
  flex-direction: column;
  align-items: center;

  h5 {
    font-size: theme.$font-size-xs;
    color: theme.$grey;
    margin-bottom: 4px;
  }

  p {
    font-size: theme.$font-size-sm;
    text-align: center;

    @media(min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
      font-size: 20px;
    }
  }
}

:local(.buttons-row) {
  justify-content: center;
}

:local(.buttons) {
  .items {
    justify-content: center;
  }

  button {
    margin: 8px;
  }
}

:local(.terms-and-conditions) {
  text-align: left;

  p {
    font-size: theme.$font-size-md;
  }
}

:local(.terms-and-conditions-checkbox) {
  margin-top: 8px;
  margin-bottom: 8px;
  height: auto;
  font-size: theme.$font-size-sm;
}