@use "../styles/theme.scss";

:local(.accordion) {
  text-align: left;
}

:local(.title) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid theme.$border1-color;
  padding: 10px 5px;
  cursor: pointer;

  h3 {
    color: theme.$text2-color;
    font-size: theme.$font-size-md;
    font-weight: theme.$font-weight-bold;
  }

  .svg-inline--fa {
    transition: all ease .2s;
  }

  .svg-inline--fa.open {
    transform: rotate(180deg);
    transform-origin: center;
  }
}

:local(.body) {
  padding: 10px;
  max-height: 30vh;
  overflow: auto;

  p {
    font-size: theme.$font-size-sm;
    margin-bottom: 10px;
  }
}